
// Layout
// ==========================================================================
$fixed-container-width:         1024px;
$container-width:               1024px;
$grid-gutter:                   15px;
$grid-gutter-width:             2px; // for bootstrap layout

$full-container-bg:             #fff;


// Type
// ==========================================================================

$font-size-base:                14px;
$font-size-adjust:              15px;
$blog-font-size-base:			16px;
$font-size-lg:                  22px;
$font-size-sm:                  11px;
$blog-font-size-lg:				36px;
$blog-font-size-sm:				14px;
$font-size-jp:                  15px;

$text-color:                    $grey-7;
$grey-text-color:               $grey-5;
$font-family-base:              'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Source Sans Pro', Apple SD Gothic Neo, Nanum Barun Gothic, Nanum Gothic, Verdana, Arial, Dotum, sans-serif;
$font-family-jp:                'Spoqa Han Sans JP', 'Spoqa Han Sans', 'Source Sans Pro', Apple SD Gothic Neo, Nanum Barun Gothic, Nanum Gothic, Verdana, Arial, Dotum, sans-serif;

$line-height-base:              1.5em;
$line-height-jp:                1.6em;
$hading-line-height-jp:         1.3em;

//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:          floor(($font-size-base * $line-height-base)) !default; // ~20px



// Sidebar
// ==========================================================================

$sidebar-width:                 18%;


// General UI
// ==========================================================================

$container-padding-base:        40px;
$padding-base-vertical:         16px;
$padding-base-horizontal:       24px;
$bg-grey:                       $grey-0;

$link-color:                    $primary-0;
$divider-color:                 $grey-3;
$disabled-text-color:           $grey-text-color;

$border-color:                  $grey-4;
$border-radius-base:            2px;
$border-radius-lg:              3px;

$shadow-base:                   0 1px 3px rgba($grey-9, 0.125);
$form-line-height-base:         20px;
$input-height-base:             calc(#{$form-line-height-base} + #{$padding-base-vertical} * 2 + 2px); //2px is border

$form-section-gutter:           60px;
$form-group-gutter:             20px;

$form-icon-height:              20px;


// Buttons
//
// For each of spoqa's buttons, define text, background and border color.
// ==========================================================================

$btn-bg-base:                   #fff;
$bth-color-base:                $text-color;
$btn-padding-base:              $padding-base-vertical $padding-base-horizontal;

$btn-default-border:            $grey-4;
$btn-default-highlight-bg:      $grey-1;
$btn-default-disabled-color:    $grey-4;
$btn-default-disabled-border:   $grey-3;
$btn-default-disabled-bg:       $grey-0;

$bth-primary-color:             $primary-0;
$btn-primary-border:            $primary-0;
$btn-primary-highlight-bg:      rgba($primary-0, 0.1);
$btn-primary-disabled-color:    rgba($primary-0, 0.4);
$btn-primary-disabled-border:   rgba($primary-0, 0.3);
$btn-primary-disabled-bg:       rgba($primary-0, 0.04);

$btn-solid-color:               #fff;
$btn-solid-border:              $primary-0;
$btn-solid-bg:                  $primary-0;
$btn-solid-highlight-bg:        $primary-d1;
$btn-solid-highlight-border:    $primary-d1;
$btn-solid-disabled-color:      #fff;
$btn-solid-disabled-border:     rgba($primary-0, 0.3);
$btn-solid-disabled-bg:         rgba($primary-0, 0.3);

$btn-danger-color:              $red-0;
$btn-danger-highlight-bg:       rgba($red-0, 0.1);
$btn-danger-border:             $red-0;

$btn-convex-bg:                 $grey-1;
$btn-convex-highlight-bg:       $grey-3;

$btn-padding-lg:                20px 30px;
$btn-lg-font-size:              1.05em;

// Form
// ==========================================================================

// Label
// --------------------------------------------------------------------------

$label-control-color:           $text-color;

// Dropdown
// --------------------------------------------------------------------------

$dropdown-bg:                   #fff;
$dropdown-border:               $btn-default-border;
$dropdown-fallback-border:      #ced3d6; // IE8 fallback
$dropdown-link-active-bg:       $grey-1;
$dropdown-link-disabled-color:  $grey-text-color;
$dropdown-header-color:         $grey-text-color;


// Navbar
// ==========================================================================

// Topnav
// --------------------------------------------------------------------------

$navbar-height:                 60px;
$navbar-border-width:           4px;

$topnav-gutter:                 20px;
$topnav-font-size:              14px;

$brand-logo-height:             22px;


// Tables
// ==========================================================================

$table-bg:                      $full-container-bg;
$table-cell-padding:            14px 20px;
$table-border-color:            $grey-1;

$table-title-font-size:         22px;

$pager-padding:                 8px 14px;


// Forms
// ==========================================================================

$legend-color:                  $text-color;
$input-color:                   $text-color;
$input-color-placeholder:       $grey-text-color;

$input-bg:                      #fff;

// Hero
// ==========================================================================

$hero-height:                   600px;


// Section
// ==========================================================================

$section-img-height:            200px;


// Transition
//
// FIXME: Move to somewhere proper
// ==========================================================================

.transition {
  -webkit-transition: border ease-out 0.2s; // Safari
          transition: border ease-out 0.2s;
}


// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
//
// Note: These variables are not generated into the Customizer.
// ==========================================================================

$zindex-navbar:            1000 !default;
$zindex-dropdown:          1000 !default;
$zindex-popover:           1060 !default;
$zindex-tooltip:           1070 !default;
$zindex-topnav-fixed:      1030 !default;
$zindex-modal-background:  1040 !default;
$zindex-modal:             1050 !default;



