<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>젤리곰의 개발 블로그!{% if page.title %} | {{ page.title }}{% endif %}</title>
  <link rel="stylesheet" href="{{ base_path }}/css/styles.css">
	<link rel="shortcut icon" href="{{ base_path }}/images/favicon.ico">
	<link rel="icon" href="{{ base_path }}/images/favicon-228.png">
	<link rel="apple-touch-icon-precomposed" href="{{ base_path }}/images/favicon-228.png">
	<!-- 웹폰트 -->
	<script>
    window.WebFontConfig = {
        custom: {
            families: ['spoqahansans:100,400,700'],
            urls: ['/css/spoqahansans.css']
        },
        timeout: 60000
    };
    (function(d) {
        var wf = d.createElement('script'), s = d.scripts[0];
        wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
        s.parentNode.insertBefore(wf, s);
    })(document);
  </script>
</head>

<body>
	<!-- 내부 소스 -->
  <div class="wrapper">
		<!-- 헤더 -->
    <div class="header">
      <div class="header-item">
        <div class="spoqa-logo-wrap">
          <a class="spoqa-logo" href="{{ base_path }}/"><img src="{{ base_path }}/images/logo.png"></a>
          <a class="blog-title" href="{{ base_path }}/">개발 블로그</a>
        </div>
        <div class="nav">
          <input type="checkbox" id="toggle">
          <label for="toggle" class="toggle" onclick></label>
          <ul class="menu">
            <li><a class="
              {% if page.url == '/about.html' %}
              selected
              {% endif %} menu-about" href="{{ base_path }}/about.html">소개</a></li>
            <li><a class="
              {% if page.url != '/about.html' %}
              selected
              {% endif %} menu-blog" href="{{ base_path }}/index.html">블로그</a></li>
            <li><a class="menu-github" href="https://github.com/Iyeonghun">깃허브</a></li>
          </ul>
        </div>
      </div>
    </div>
		<!-- 컨텐츠 -->
    <div class="content">
      {{ content }}
    </div>
		<!-- 푸터 -->
    <div class="footer">
      <div id="info">
				<span><a href="https://spoqa.github.io">Spoqa</a> 블로그를 기반으로 디자인 하였습니다.</span><br>
        <span>Copyright(C)2016. All rights reserved by <a href="https://github.com/Iyeonghun">젤리곰</a>.</span>
      </div>
    </div>
  </div>
	
	<!-- 내부 자바스크립트 -->
  <script src="{{ base_path }}/js/jquery.min.js" charset="utf-8"></script>
	<script src="{{ base_path }}/js/alexpearce.js" charset="utf-8"></script>  
	<script src="{{ base_path }}/js/highlight.pack.js" charset="utf-8"></script>
  <script>
    hljs.initHighlightingOnLoad();
		$(function() {
      $('.toggle').bind("touchstart", function() {
        $('.menu').toggle();
      })
    });
  </script>
</body>
</html>
